altgraph==0.17
astroid==2.5.6
bidict==0.21.2
click==8.0.0rc1
colorama==0.4.4
dnspython==1.16.0
eventlet==0.30.2
Flask==2.0.0rc2
Flask-SocketIO==5.0.1
future==0.18.2
greenlet==1.0.0
isort==5.8.0
itsdangerous==2.0.0rc2
Jinja2==3.0.0rc2
lazy-object-proxy==1.6.0
MarkupSafe==2.0.0rc2
mccabe==0.6.1
pefile==2019.4.18
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pylint==2.8.2
python-engineio==4.1.0
python-socketio==5.2.1
pywin32-ctypes==0.2.0
six==1.15.0
toml==0.10.2
Werkzeug==2.0.0rc5
wrapt==1.12.1
